/* MIX */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container{
  height:100vh;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  background-color:#141922;
}

/* left bar */
.left-bar{
  width:18%;
  padding-top:20px;
  background-color: #000;
  text-align:center;
}
.left-bar img{
  height:40px;
}
/* /left bar */

/* top bar */
.top-bar{
  height:80px;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:18%;
  right:0;
}
/* /top bar */

/* main part */
.main-part{
  width:82%;
  overflow: auto;
  margin-top:80px;
  height:calc(100% - 160px);
}
/* /main part */

/* footer */
.player-bar{
  height:80px;
  background-color:#282828;
  width:100%;
}
/* /footer */
